[Desktop Entry]
Encoding=UTF-8
Name=Link to Preview attachment Homework4.pdf [PDF] 65 KB
Type=Link
URL=https://mail.google.com/mail/u/0/?ui=2&ik=afa5365f17&view=att&th=159e19c6af2f745d&attid=0.1&disp=safe&realattid=f_iyg9f86j1&zw
Icon=gnome-fs-bookmark
